* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  background: url('./images/office.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 10px) and (max-width: 980px) {
  #root {
    background: none;
    align-items: center;
    justify-content: center;
  }
}
