.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #a5a8b3;
  letter-spacing: -0.02em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.link-underline {
  text-decoration: underline;
}
